.nav-item {
    font-size: 1.5rem;
    padding: 0.2rem;
}

ul li a {
    border-bottom: 2px blue solid;
    padding-bottom: 0;
    margin-bottom: 0;
}

ul li a p {
    font-size: 1rem;
    color: #0d3ab3;
    padding-bottom: 0;
    margin-bottom: 0;
}

.btn {
    background-color: #0d3ab3;
    color: white;
    letter-spacing: 0.2rem;
    border-radius: 0.3rem;
    margin-left: 1rem;
    margin-top: 0.5rem;
}

.logout-btn {
    border-bottom: 0;
}

.navbar {
    align-items: center;
}


h1 {
    color: #0d3ab3;
}